<?xml version="1.0" encoding="UTF-8"?>
<config>
	<generalRedirectUrl>http://www.androway.nl/</generalRedirectUrl>
	<homePageId>1</homePageId>
	<maxLifeTime>1800</maxLifeTime>
	<mobileRedirectUrl>http://m.androway.nl/</mobileRedirectUrl>
	<websiteTitle>Androway - </websiteTitle>
	
	<standardDatabase>
		<name></name>
		<user></user>
		<password></password>
	</standardDatabase>
	
	<alternativeDatabase>
		<name></name>
		<user></user>
		<password></password>
	</alternativeDatabase>
</config>