body
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.message_box
{
	width: auto;
	padding: 7px;
	display: none;
}

.message_box.auth_normal
{
	border: 1px solid #0080FF;
	background: #9AC8F7;
	color: #fff;
}

.message_box.auth_valid
{
	border: 1px solid #349534;
	background: #C9FFCA;
	color: #008000;	
}

.message_box.auth_error
{
	border: 1px solid #CC0000;
	background: #F7CBCA;
	color: #CC0000;
}

#main_menu
{
	width: auto;
	height: 31px;
	background-color: #666;
}

#main_menu .menu_item
{
	padding: 6px 15px 5px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}

#main_menu .menu_item:hover
{
	background-color: #000;
}

#main_menu .menu_item_left
{
	float: left;
}

#main_menu .menu_item_right
{
	float: right;
}

.panel-bg
{
	width: 100%;
	height: 100%;
	background: #B1B1B1 url("../images/panel_bg.png") 0px 31px repeat-x;
}

.panel-bg .panel-logo
{
	position: relative;
	width: 685px;
	height: 108px;
	left: 50%;
	top: 50%;
	margin-left: -342.5px;
	margin-top: -54px;
	background: url("../images/management_panel_logo.png") no-repeat;
}
